@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default, coffee;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-4xl px-8;
  }
}

@theme {
  --breakpoint-md: 425px;
  --breakpoint-lg: 768px;
}
